<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>عنوان دستور غذا</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary dropdown-toggle active">
        مدیریت دستور غذا
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu " >
      <li><a href="#">افزودن مواد غذایی</a></li>
      <li><a href="#">ویرایش مواد غذایی</a></li>
      <li><a href="#">حذف مواد غذایی</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">توضیحات</div>
</div>


<div class="row">
    <div class="col-xs-12">مواد غذایی</div>
  </div>